@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&family=Rubik&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}
